*.ipynb
(1).ipynb_checkpoint
*.ipynb_checkpoints
*.vscode
!46-47-48 Class Exercises - Evaluating Regression, Polynomial Regression, Normalizer, RidgeCV.ipynb
*.joblib
!Class Exercise 49 - LassoCV.ipynb
!Polynomial Regression with L1 Regularization.ipynb
!Logistic Regression - Slide 51.ipynb
!Logistic Regression - Multiple Categories - Slide 52.ipynb
!KNN Elbow Method - Slide 53.ipynb
!Slide 56, 57 - Decision Tree, Random Forest.ipynb
!K-Mean Clustering - Slide 58.ipynb
!K-Mean Clustering - Image Quantization.ipynb
!Hierarchical Clustering.ipynb
!DBSCAN - Slide 61.ipynb
.ipynb_checkpoints/*
